# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage & test
coverage/
*.lcov
.nyc_output/

# Dependency directories
node_modules/
jspm_packages/
bower_components/

# Cache
.cache/
.parcel-cache
.temp/
dist/
build/
out/
.next/
.nuxt/
.docusaurus/
.svelte-kit/
.vitepress/

# TypeScript & tooling
*.tsbuildinfo
.eslintcache
.stylelintcache
.yarn-integrity

# dotenv files (keep example only)
.env
.env.*
!.env.example

# Docker & containers
.dockerignore
docker-compose.override.yml
**/mongo_data/
**/data/
**/volumes/

# System / IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/